.vector-icon4 {
  width: 43.4px;
  position: relative;
  height: 43.4px;
}
.logo4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.about4,
.logo4 {
  cursor: pointer;
}
.about4,
.contact13 {
  position: relative;
  line-height: 27px;
}
.menu-items4,
.navigation4 {
  display: flex;
  flex-direction: row;
}
.menu-items4 {
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-5xl);
}
.navigation4 {
  align-self: stretch;
  background-color: var(--white);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-23xl);
  text-align: left;
  font-size: var(--font-size-mid);
}
.latest-work4 {
  position: relative;
  line-height: 42px;
  font-weight: 600;
}
.image-icon22,
.project-title22 {
  align-self: stretch;
  position: relative;
}
.image-icon22 {
  max-width: 100%;
  overflow: hidden;
  height: 330px;
  flex-shrink: 0;
  object-fit: cover;
}
.project-title22 {
  line-height: 30px;
  font-weight: 600;
}
.ui-art-drection20 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mid);
  line-height: 27px;
}
.title-description26 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.cards-section4,
.gallery-card4 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.gallery-card4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 320px;
}
.cards-section4 {
  width: 1232px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  font-size: var(--subtitle-size);
}
.gallery-section4 {
  align-self: stretch;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-23xl) var(--padding-5xl);
  gap: var(--gap-23xl);
}
.food-app-1 {
  max-width: 100%;
  overflow: hidden;
  height: 748.6px;
  flex-shrink: 0;
  object-fit: cover;
}
.focus-was-to5,
.food-app-1,
.food-delivery-app {
  align-self: stretch;
  position: relative;
}
.food-delivery-app {
  line-height: 48px;
  font-weight: 600;
}
.focus-was-to5 {
  font-size: var(--subtitle-size);
  line-height: 27px;
}
.food-delivery-app-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xl) 0;
  gap: var(--gap-8xl);
  font-size: var(--font-size-29xl);
}
.contact14 {
  position: relative;
  line-height: 30px;
  font-weight: 600;
}
.button9 {
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-45xl);
  cursor: pointer;
  font-size: var(--subtitle-size);
  color: var(--white);
}
.lets-work-together4 {
  width: 626px;
  position: relative;
  line-height: 42px;
  font-weight: 600;
  display: inline-block;
}
.this-is-a4 {
  align-self: stretch;
  position: relative;
  line-height: 27px;
}
.title-description32 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.discord-icon4 {
  width: 36px;
  position: relative;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.social-links4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.contact-info4 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-23xl);
  min-width: 320px;
}
.contact-info4,
.input-field8,
.input-fields4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field8 {
  border: 0;
  outline: 0;
  font-family: var(--h1);
  font-size: var(--font-size-mid);
  background-color: var(--color-whitesmoke);
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  color: var(--black);
  min-width: 320px;
  max-width: 520px;
}
.input-fields4 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-xs);
}
.button10 {
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-45xl);
}
.contact-form4,
.contact-section-content4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-form4 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
  min-width: 320px;
  max-width: 520px;
  text-align: center;
  font-size: var(--subtitle-size);
  color: var(--white);
}
.contact-section-content4 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 42px 142px;
  font-size: var(--font-size-mid);
}
.contact-section4,
.food-delivery {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-section4 {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-23xl) var(--padding-5xl) var(--padding-67xl);
  gap: var(--gap-5xl);
  text-align: left;
}
.food-delivery {
  width: 100%;
  position: relative;
  align-items: center;
  text-align: center;
  font-size: var(--h2-size);
  color: var(--black);
  font-family: var(--h1);
}
@media screen and (max-width: 420px) {
  .about4,
  .contact13 {
    font-size: var(--font-size-sm);
  }
  .menu-items4 {
    gap: var(--gap-5xl);
  }
  .navigation4 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
