body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --h1: Epilogue;

  /* font sizes */
  --subtitle-size: 20px;
  --font-size-mid: 17px;
  --h2-size: 32px;
  --h1-size: 68px;
  --font-size-sm: 14px;
  --font-size-29xl: 48px;

  /* Colors */
  --white: #fff;
  --black: #2d2d2d;
  --color-whitesmoke: #f3f3f3;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-23xl: 42px;
  --gap-xs: 12px;
  --gap-5xs: 8px;
  --gap-29xl: 48px;
  --gap-8xl: 27px;

  /* Paddings */
  --padding-23xl: 42px;
  --padding-5xl: 24px;
  --padding-67xl: 86px;
  --padding-45xl: 64px;
  --padding-base: 16px;
  --padding-11xl: 30px;
  --padding-xl: 20px;
  --padding-12xl: 31px;
}
